<div class="shell">
<h1 mat-dialog-title>Format Input/Output</h1>
  <div mat-dialog-content>
    <form [formGroup]="inputForm">
      <div>
        <textarea id="Input" formControlName="Input" 
        [required]="true" class="custom-textarea"></textarea>
        <br>
        <button color="primary" (click)="formatInput()">Format</button>
      </div>
    </form>

    <div *ngFor="let key of objectKeys">
      <div [ngClass]="{'indent': key.name.includes('.')}">
        <input type="checkbox" [checked]="keysChecked[key.name]" (change)="toggleKeyChecked(key.name)">
        <label>{{ key.name }}</label>
      </div>
    </div>
    

  <div mat-dialog-actions>
    <button  mat-dialog-close>Cancel</button>
    <button mat-dialog-close (click)="checkModel()">Save</button>
  </div>
</div>