form {
    padding-top: 1rem;
    font-size: medium;
}

label {
    display: inline;
    margin: .1em 0;
}

.shell button {
    flex: 1;
    cursor: pointer;
    position: relative;
    background-color: white;
    margin: 1em;
    padding: .5em;
    border-radius: 6px;
    border: 2px solid #1565c0;
    display: flex;
    //height: 2em;
    text-align: center;
}
.shell button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}
.shell button.selected {
  background-color: #1565c0;
  color: white;
}

mat-dialog-content {
    color: black;
}

textarea {
    width: 14em;
    height: 5em;
    margin-bottom: 1rem;
}

.indent {
margin-left: 20px;
}

.custom-textarea {
width: 100%;
height: 100px;
}