<div class="shell">
    <div class="flow-block">
        <h3>Selected Flow: {{flowObject.Name}}</h3>
        <h5>{{flowObject.Description}}</h5>
        
        <p>Trigger: </p>
            <div class="card" (click)="configureTrigger(flowObject.Trigger)">
                <p>Name: {{flowObject.Trigger.Name}}</p>
                <p>Description: {{flowObject.Trigger.Description}}</p>
                <p>Type: {{flowObject.Trigger.Type}}</p>
                <p>Input: {{flowObject.Trigger.Input}}</p>
                <p>Output: {{flowObject.Trigger.Output}}</p>
            </div>
        <p>Functions: </p>
        <ul>
            <li *ngFor="let function of flowObject.Functions">
                <div class="card" (click)="configureFunction(function)">
                    <p>Name: {{function.Name}}</p>
                    <p>Description: {{function.Description}}</p>
                    <p>Type: {{function.Type}}</p>
                    <p>Input: {{function.Input}}</p>
                    <p>Output: {{function.Output}}</p>
                </div>
            </li>
        </ul>
        <button (click)="createExecutable()">
            Create Executable
        </button>
        <p *ngIf="executableCreated">Path Generated Here ==> <br>{{executableCreated}}</p>
        <mat-spinner [diameter]="50" *ngIf="executableLoading"></mat-spinner>
    </div>
    <div class="configure-function" *ngIf="selectedFunction">
        <app-configure-function [flowFunction]="selectedFunction"></app-configure-function>
    </div>
    <div class="configure-trigger" *ngIf="selectedTrigger">
        <app-configure-trigger [flowTrigger]="selectedTrigger"></app-configure-trigger>
    </div>
</div>