<div class="shell">
    <h3>Selected Flow Details: {{flowObject.Name}}</h3>
    <p class="flow">{{flowObject.Description}}</p>
    <p>Functions: </p>
    <ul>
        <li class="flow" *ngFor="let function of flowObject.functions">
            <p>Name: {{function.Name}}</p>
            <p>Description: {{function.Description}}</p>
            <p>Type: {{function.Type}}</p>
            <p>Input: {{function.Input}}</p>
        </li>
    </ul>
    <p class="flow">Trigger: {{flowObject.trigger.Name}}</p>
    <ul>
        <li class="flow">Description: {{flowObject.trigger.Description}}</li>
        <li class="flow">Output: {{flowObject.trigger.Output}}</li>
        <li class="flow">Type: {{flowObject.trigger.Type}}</li>
    </ul>
</div>