<div class="shell">
    <div class="flow-list">
        <h2>Flows</h2>
        <ul class="flows">
            <li *ngFor="let flow of jsonFlowsData">
                <button [class.selected]="flow === selectedFlow"
                (click)="onSelect(flow)">{{ flow.Name }}</button>
            </li>
            <li>
                <button class="createFlow" 
                matTooltip="Click To Create Flow"
                matTooltipPosition="right"
                (click)="createFlow()"
                >+
                </button>
            </li>
        </ul>
    </div>

    <div class="flow-view" *ngIf="selectedFlow">
        <app-flow-view [flow]="selectedFlow"></app-flow-view>
    </div>
</div>