.shell{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flows button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
  }
  
  .flows button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  
  .flows button:active {
    background-color: #1565c0;
    color: #fafafa;
  }
  
  .flows button.selected {
    background-color: #1565c0;
    color: white;
  }
  
  .flows button.selected:hover {
    background-color: #1565c0;
    color: white;
  }
  
  .flows button.selected:active {
    background-color: #1565c0;
    color: white;
  }
