<div class="shell">
  <h1 mat-dialog-title>MQTT Settings</h1>
    <form [formGroup]="triggerForm">
        <label for="Name">Name: </label>
        <input id="Name" type="text" formControlName="Name" required>

        <label for="Description">Description: </label>
        <input id="Description" type="text" formControlName="Description" required>

        <label for="Type">Type: </label>
        <input id="Type" type="text" formControlName="Type" required readonly>

        <label for="Input">Input: </label>
        <select id="Input" formControlName="Input">
          <option *ngFor="let option of variableOptions" [value]="option">
            {{option}}
          </option>
        </select>
        <button *ngIf="triggerForm.value.Input === 'Object'"
        (click)="configureInput()">Configure</button>

        <label for="Output">Output: </label>
        <select id="Output" formControlName="Output">
          <option *ngFor="let option of variableOptions" [value]="option">
            {{option}}
          </option>
        </select>
      
        <div formGroupName="Settings">
          <h2>Settings</h2>
      
          <label for="Host">Host: </label>
          <input id="Host" type="text" formControlName="Host">
      
          <label for="Port">Port: </label>
          <input id="Port"type="text" formControlName="Port">

          <label for="Topic">Topic: </label>
          <input id="Topic"type="text" formControlName="Topic">

          <label for="Protocol">Protocol: </label>
          <select id="Protocol" formControlName="Protocol">
            <option *ngFor="let option of protocol" [value]="option">
              {{option}}
            </option>
          </select>

          <label for="Username">Username: </label>
          <input id="Username"type="text" formControlName="Username">

          <label for="Password">Password: </label>
          <input id="Password"type="text" formControlName="Password">
        </div>
      
      </form>
                  
      <button color="primary"(click)="revertValues()">Revert Values</button>
      <hr>
      <div mat-dialog-actions class="dialog-actions">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button mat-dialog-close (click)="onSubmit()">Save</button>
      </div>
</div>
